#videoHeader {
    position: relative;
    background-color: black;
    height: 65vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    margin-top: -50px;
}

#videoHeader video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#videoHeader .container {
  position: relative;
  z-index: 2;
}

#videoHeader .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

#videoHeader .container h2 {
	color: #fff;
	font-size: 46px;

    margin-bottom: 20px;
    margin-top: 200px;
    font-weight: 700;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	
}

#videoHeader .container p {
	color: #7bda27;
	margin-bottom: 45px;
}

#videoHeader .container .btn-cta {
	font-size: 18px;
	padding: 8px 30px;
}

#videoHeader .container a.btn-cta-primary {
	background: #ec6952;
    border: 2px solid #ec6952;
    color: #fff;
}


.container-fluid {
	padding-right: 0px;
	padding-left: 0px;
}

.jobs {
    margin-left: 230px;
    margin-right: 230px;
    padding-top: 30px;
}

.jobs .col-sm-6 .picture1 {
    margin-bottom: 20px;
}

.jobs .col-sm-6 .picture3 {
    margin-top: 20px;
}
.jobs .col-sm-6 .sentence1, .jobs .col-sm-6 .blockquote2 .sentence1 {
    text-align: justify;
    padding-bottom: 10px;
}


.jobs .col-sm-6 .blockquote2 {
    font-size: 14px;
    font-family: 'Roboto', arial, sans-serif
}

