@{
    ViewData["Title"] = "Work Experience";
}

<div class="container-fluid panelSection2">

    <h1 class="display-1 title">My Work Experience</h1>
</div>


<div class="container-fluid contentSection2">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-4 content1">
                    <img src="~/images/logo.jpeg" style="border: 1px solid black" height="159px" width="350px">

                </div>

                <div class="col-sm-6 content2">
                    <blockquote class="blockquote">
                        <p>Dec 2018 - March 2019: Internship Web Developer</p>
                        <hr style="border: 2px solid black">

                        <p class="mainRespond">Main Responsibilites</p>

                        <p class="para"><i class="fas fa-chevron-right mb-1"></i>&nbsp;&nbsp;&nbsp;&nbsp;Completed various projects related to set up the new website by inspecting HTML and CSS of the original website.</p>

                        <p class="para"><i class="fas fa-chevron-right mb-1"></i>&nbsp;&nbsp;&nbsp;&nbsp;Learned to use Bootstrap as the main effective way to set up CSS of any website efficiency.</p>


                        <p class="mainRespond">Gains</p>

                        <p class="para"><i class="fas fa-chevron-right mb-1"></i>&nbsp;&nbsp;&nbsp;&nbsp;Knowledgeable in cutting from any Photoshop file to HTML.</p>

                        <p class="para"><i class="fas fa-chevron-right mb-1"></i>&nbsp;&nbsp;&nbsp;&nbsp;Proficient in using Bootstrap to set up the website.</p>
                    </blockquote>
                </div>

                <div class="col-sm-1"></div>
            </div>
        </div>
    </div>


    <div class="row mb-2 mt-2">
        <div class="col-sm-12">
            <hr>
        </div>
    </div>

    <div class="row2">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-6 content3">
                    <blockquote class="blockquote">
                        <p>May 2018 - Sep 2018: Internship Web Developer</p>
                        <hr style="border: 2px solid black">

                        <p class="mainRespond">Main Responsibilites</p>

                        <p class="para"><i class="fas fa-chevron-right mb-1"></i>&nbsp;&nbsp;&nbsp;&nbsp;Reported and fixed any bug existed on the main website resales-online.com using PHP Laravel.</p>

                        <p class="para"><i class="fas fa-chevron-right mb-1"></i>&nbsp;&nbsp;&nbsp;&nbsp;Asking seniors and juniors for advises, information and instructions on how to develop and maintain a web.</p>


                        <p class="mainRespond">Gains</p>

                        <p class="para"><i class="fas fa-chevron-right mb-1"></i>&nbsp;&nbsp;&nbsp;&nbsp;More confident in working and setting up any website related to HTML, CSS, nodeJS, Javascript and Jquery.</p>

                        <p class="para"><i class="fas fa-chevron-right mb-1"></i>&nbsp;&nbsp;&nbsp;&nbsp;Knowledgeable in debugging any make up language and PHP.</p>


                    </blockquote>
                </div>
                <div class="col-sm-5 content4">
                    <img src="~/images/codeforce.png" style="border: 1px solid black" height="159px" width="350px">
                </div>

                <div class="col-sm-1"></div>



            </div>
        </div>
    </div>


    <div class="row mb-2 mt-2">
        <div class="col-sm-12">
            <hr>
        </div>
    </div>

    <div class="row3">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-4 content5">
                    <img src="~/images/dmacctutor.jpg" style="border: 1px solid black" height="159px" width="350px">
                </div>

                <div class="col-sm-6 content6">
                    <blockquote class="blockquote">
                        <p>Sep 2015 - May 2018: Computer Technician</p>
                        <hr style="border: 2px solid black">

                        <p class="mainRespond">Main Responsibilites</p>

                        <p class="para"><i class="fas fa-chevron-right mb-1"></i>&nbsp;&nbsp;&nbsp;&nbsp;Tutored students in various operating systems and software applications.</p>

                        <p class="para"><i class="fas fa-chevron-right mb-1"></i>&nbsp;&nbsp;&nbsp;&nbsp;Served as mentor in computer labs, training students on individual basis.</p>

                        <p class="para"><i class="fas fa-chevron-right mb-1"></i>&nbsp;&nbsp;&nbsp;&nbsp;Provided daily support for email, network, connectivity, and telecommunication.</p>

                        <p class="para"><i class="fas fa-chevron-right mb-1"></i>&nbsp;&nbsp;&nbsp;&nbsp;Set up computers and install software.



                        <p class="mainRespond">Gains</p>

                        <p class="para"><i class="fas fa-chevron-right mb-1"></i>&nbsp;&nbsp;&nbsp;&nbsp;Strong knowledge and patience in showing people step by step to get done some individual basics.</p>

                        <p class="para"><i class="fas fa-chevron-right mb-1"></i>&nbsp;&nbsp;&nbsp;&nbsp;Knowledgeable in debugging any make up language and PHP.</p>
                    </blockquote>
                </div>

                <div class="col-sm-1"></div>
            </div>
        </div>
    </div>

    <div class="row mb-2 mt-2">
        <div class="col-sm-12">

        </div>
    </div>
</div>
