@{
    ViewData["Title"] = "Home Page";
}

<header id="videoHeader">
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
    </video>
    <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <h2 class="display-3">Video Header</h2>
            <p class="lead mb-0">With HTML5 Video and Bootstrap 4</p>
            <p><a class="btn btn-cta btn-cta-primary" href="#">Try Velocity Free</a></p>
        </div>
    </div>
</header>

<div class="container-fluid jobs">

    <div class="col-sm-6">
        <div class="picture1">
            <a href="https://www.grandview.edu/" target="_blank"><img src="~/images/grandview.png"></a>
        </div>
        <div class="sentence1">
            <p>Founded more than 100 years ago in 1896, Grand View offers a high-quality education to a diverse student body in a career-oriented, liberal arts-grounded curriculum in Des Moines, Iowa, a metropolitan area of more than half a million people. Grand View offers bachelor's and master's degrees, and welcomes traditional students and adult learners representing a wide range of religious and cultural backgrounds. </p>
            <p>Learning is an interactive process at Grand View—students engage in lively discussions, work on real-world projects, and participate in career-related work experiences. Grand View welcomes and supports students from all walks of life, geographies, religions and ethnicities.</p>
        </div>

    </div>

    <div class="col-sm-6">
        <blockquote>
            <div class="picture2">
                <img src="~/images/grandview.jpg" class="image-fluid" alt="Responsive image" width="650px" height="300px">
            </div>
        </blockquote>
    </div>
</div>
<div class="row mb-2 mt-2">
    <div class="col-sm-12">
        <hr>
    </div>
</div>

<div class="container-fluid jobs">



    <div class="col-sm-6">
        
            <div class="picture3">
                <img src="~/images/dmacc2.jpg" class="image-fluid" alt="Responsive image" width="700px" height="300px">
            </div>
        
    </div>

    <div class="col-sm-6">
        <blockquote class="blockquote2">
            <div class="picture1">
                <a href="https://www.dmacc.edu/" target="_blank"><img src="~/images/DMACC.gif" width="350px" height="130px"></a>
            </div>
            <div class="sentence1">
                <p>Founded more than 100 years ago in 1896, Grand View offers a high-quality education to a diverse student body in a career-oriented, liberal arts-grounded curriculum in Des Moines, Iowa, a metropolitan area of more than half a million people. Grand View offers bachelor's and master's degrees, and welcomes traditional students and adult learners representing a wide range of religious and cultural backgrounds.</p>
                Learning is an interactive process at Grand View—students engage in lively discussions, work on real-world projects, and participate in career-related work experiences. Grand View welcomes and supports students from all walks of life, geographies, religions and ethnicities.</p>
            </div>   
        </blockquote>
    </div>
</div>

<div class="row mb-2 mt-2">
    <div class="col-sm-12">
        <hr>
    </div>
</div>

<div class="container-fluid jobs">

    <div class="col-sm-6">
        <div>
            <a href="https://www.catchdesmoines.com/" target="_blank"><img src="~/images/desmoines2.jpg"></a>
        </div>
        <div class="sentence1">
            <p>Founded more than 100 years ago in 1896, Grand View offers a high-quality education to a diverse student body in a career-oriented, liberal arts-grounded curriculum in Des Moines, Iowa, a metropolitan area of more than half a million people. Grand View offers bachelor's and master's degrees, and welcomes traditional students and adult learners representing a wide range of religious and cultural backgrounds. </p>
            <p>Learning is an interactive process at Grand View—students engage in lively discussions, work on real-world projects, and participate in career-related work experiences. Grand View welcomes and supports students from all walks of life, geographies, religions and ethnicities.</p>
        </div>

    </div>

    <div class="col-sm-6">
        <blockquote>
            <div class="picture2">
                <img src="~/images/desmoines.jpg" class="image-fluid" alt="Responsive image" width="650px" height="300px">
            </div>
        </blockquote>
    </div>
</div>

<div class="row mb-2 mt-2">
    <div class="col-sm-12">
        <br>
    </div>
</div>